<script setup>
  import GlobalButton from '@/components/base/GlobalButton.vue'
  import Icon from '@/components/base/Icon.vue'
  import RedBlockTitle from '@/components/RedBlockTitle.vue'
  import { flashSalesSwiperIcons } from '@/helpers/constants'
</script>

<template>
  <section class="selling-products">
    <div class="selling-products__container">
      <red-block-title title="This Month" red-title />
      <div class="selling-products__title-btn">
        <div class="selling-products__title">Best Selling Products</div>
        <div class="selling-products__btn">
          <global-button title="View All" />
        </div>
      </div>
      <div class="selling-products__row">
        <div v-for="i in 4" :key="i" class="selling-products__card">
          <div class="selling-products__image-block">
            <div class="selling-products__icons">
              <div v-for="item in flashSalesSwiperIcons" :key="item.icon" class="selling-products__icon">
                <icon :name="item.icon" />
              </div>
            </div>
            <div class="selling-products__image">
              <img src="@/assets/img/coat.png" alt="" />
            </div>
          </div>
          <div class="selling-products__content">
            <div class="selling-products__content-title">The north coat</div>
            <div class="selling-products__content-counts">
              <p>$260</p>
              <span>$360</span>
            </div>
            <div class="selling-products__content-stars-length">
              <div class="selling-products__stars">
                <div v-for="i in 5" :key="i" class="selling-products__star">
                  <icon name="star" />
                </div>
              </div>
              <div class="selling-products__length">(65)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/sellingProducts.scss';
</style>
