<script setup>
  import Icon from '@/components/base/Icon.vue'
  import { services } from '@/helpers/constants'
</script>

<template>
  <section class="services">
    <div class="services__container">
      <div class="services__row">
        <div v-for="item in services" :key="item.icon" class="services__service">
          <div class="services__icon">
            <icon :name="item.icon" />
          </div>
          <div class="services__title">{{ item.title }}</div>
          <div class="services__desc">{{ item.desc }}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/services';
</style>
