<script setup>
  import Icon from '@/components/base/Icon.vue'
  import { Swiper, SwiperSlide } from 'swiper/vue'
  import { Autoplay } from 'swiper/modules'
  import 'swiper/css'
  import 'swiper/css/pagination'
  import { flashSalesSwiperIcons, autoplay } from '@/helpers/constants'

  const modules = [Autoplay]
</script>
<template>
  <swiper
    :slidesPerView="4.5"
    :speed="2000"
    :spaceBetween="30"
    :autoplay="autoplay"
    :modules="modules"
    class="mySwiper flash-sales_swiper"
  >
    <swiper-slide v-for="i in 6" :key="i" class="flash-sales_swiper__slide">
      <div class="flash-sales__body">
        <div class="flash-sales__image-block">
          <div class="flash-sales__count-icons">
            <div class="flash-sales__count">-40%</div>
            <div class="flash-sales__icons">
              <div v-for="(item, index) in flashSalesSwiperIcons" :key="index" class="flash-sales__icon">
                <icon :name="item.icon" />
              </div>
            </div>
          </div>
          <div class="flash-sales__image">
            <img src="../../assets/img/gamepad.png" alt="" />
          </div>
          <div class="flash-sales__btn-cart">Add to cart</div>
        </div>
        <div class="flash-sales__status">
          <div class="flash-sales__product-name">HAVIT HV-G92 Gamepad</div>
          <div class="flash-sales__product-count">
            <p>$120</p>
            <span>$160</span>
          </div>
          <div class="flash-sales__stars-number">
            <div class="flash-sales__stars">
              <icon v-for="i in 5" :key="i" name="star" />
            </div>
            <div class="flash-sales__number">(88)</div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper>
</template>

<style lang="scss" scoped>
  @import './scss/flashSalesSwiper';
</style>
