<script setup>
  import Icon from '../base/Icon.vue'
</script>

<template>
  <div class="flash-sales__content">
    <div class="flash-sales__title-times">
      <div class="flash-sales__title">Flash Sales</div>
      <div class="flash-sales__times">
        <div class="flash-sales__days days">
          <div class="days__title">Days</div>
          <div class="days__number">03</div>
        </div>
        <div class="flash-sales__times-point">
          <icon name="semiClone" />
        </div>
        <div class="flash-sales__hours hours">
          <div class="hours__title">Hours</div>
          <div class="hours__number">23</div>
        </div>
        <div class="flash-sales__times-point">
          <icon name="semiClone" />
        </div>
        <div class="flash-sales__minutes minutes">
          <div class="minutes__title">Minutes</div>
          <div class="minutes__number">19</div>
        </div>
        <div class="flash-sales__times-point">
          <icon name="semiClone" />
        </div>
        <div class="flash-sales__seconds seconds">
          <div class="seconds__title">Seconds</div>
          <div class="seconds__number">56</div>
        </div>
      </div>
    </div>
    <div class="flash-sales__arrows">
      <div v-for="i in 2" :key="i" class="flash-sales__arrow">
        <icon name="shopArrow" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import './scss/flashSalesContent';
</style>
