<script setup>
  import FlashSalesContent from '@/components/flash-sales/FlashSalesContent.vue'
  import FlashSalesSwiper from '@/components/flash-sales/FlashSalesSwiper.vue'
  import GlobalButton from '@/components/base/GlobalButton.vue'
  import RedBlockTitle from '@/components/RedBlockTitle.vue'
</script>

<template>
  <section class="flash-sales">
    <div class="flash-sales__container">
      <div class="flash-sales__row">
        <red-block-title title="Today’s" red-title />
        <flash-sales-content />
      </div>
    </div>
    <flash-sales-swiper />
    <div class="flash-sales__btn-block">
      <global-button title="View All Products" />
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/flashSales';
</style>
