<script setup>
  import RedBlockTitle from '@/components/RedBlockTitle.vue'
  import GlobalButton from '@/components/base/GlobalButton.vue'
  import Icon from '@/components/base/Icon.vue'
  import ProductsRow from '@/components/products/ProductsRow.vue'
</script>

<template>
  <section class="products">
    <div class="products__container">
      <red-block-title title="Our Products" red-title />
      <div class="products__title-arrows">
        <div class="products__title">Explore Our Products</div>
        <div class="products__arrows">
          <div v-for="i in 2" :key="i" class="products__arrow">
            <icon name="shopArrow" />
          </div>
        </div>
      </div>
      <products-row />
      <div class="products__btn">
        <global-button title="View All Products" />
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/ourProducts';
</style>
