<script setup>
  import Icon from '@/components/base/Icon.vue'
  import { flashSalesSwiperIcons, productsCheckboxIcons } from '@/helpers/constants'
</script>

<template>
  <div class="products__row">
    <div v-for="i in 8" :key="i" class="products__card">
      <div class="products__image-block">
        <div class="products__mark-icons">
          <div class="products__mark">New</div>
          <div class="products__icons">
            <div v-for="item in flashSalesSwiperIcons" :key="item.icon" class="products__icon">
              <icon :name="item.icon" />
            </div>
          </div>
        </div>
        <div class="products__image">
          <img src="../../assets/img/dog_food.png" alt="" />
        </div>
        <div class="products__btn-cart">Add To Cart</div>
      </div>
      <div class="products__content">
        <div class="products__content-title">Breed Dry Dog Food</div>
        <div class="products__count-stars">
          <div class="products__count">$100</div>
          <div class="products__stars">
            <div v-for="i in 3" :key="i" class="products__star">
              <icon name="star" />
            </div>
            <div v-for="i in 2" :key="i" class="products__star">
              <icon name="starDefault" />
            </div>
          </div>
          <div class="products__length">(35)</div>
        </div>
        <div class="products__checked-icons">
          <div v-for="item in productsCheckboxIcons" :key="item" class="products__checked-icon">
            <icon :name="item" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import './scss/productsRow';
</style>
