.flash-sales {
  // .flash-sales__container

  &__container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -500px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #000;
      opacity: 0.2;
    }
  }
  // .flash-sales__row
  &__row {
  }
  &__btn-block {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
}
