.flash-sales_swiper {
  padding-left: 93px;
  // .flash-sales_swiper__slide
  &__slide {
  }
}
.flash-sales {
  // .flash-sales__body
  &__body {
    position: relative;
    cursor: pointer;
    &:hover {
      .flash-sales__btn-cart {
        opacity: 1;
        transform: translateY(0);
      }
      .flash-sales__icons {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  // .flash-sales__btn-cart
  &__btn-cart {
    transform: translateY(50px);
    transition: 0.5s all ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--button, #000);
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  // .flash-sales__image-block
  &__image-block {
    position: relative;
    border-radius: 4px;
    background: var(--secondary, #f5f5f5);
    padding: 12px;
    height: 250px;
    overflow: hidden;
  }
  // .flash-sales__count-icons
  &__count-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .flash-sales__count
  &__count {
    border-radius: 4px;
    background: var(--secondary-2, #db4444);
    color: var(--text, #fafafa);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  // .flash-sales__icons
  &__icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translateY(-90px);
    transition: 0.5s all ease;
    opacity: 0;
  }
  // .flash-sales__icon
  &__icon {
    background-color: #ffff;
    border-radius: 50%;
    overflow: hidden;
  }
  // .flash-sales__image
  &__image {
    padding-top: 20px;
    aspect-ratio: 1/1;
    text-align: center;
  }
  // .flash-sales__status
  &__status {
    padding-top: 16px;
  }
  // .flash-sales__product-name
  &__product-name {
    padding-bottom: 8px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  // .flash-sales__product-count
  &__product-count {
    display: flex;
    align-items: center;
    gap: 12px;
    p {
      color: var(--secondary-2, #db4444);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
    }
    span {
      color: var(--button, #000);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
  // .flash-sales__stars-number
  &__stars-number {
    display: flex;
    gap: 8px;
  }
  // .flash-sales__stars
  &__stars {
    display: flex;
    gap: 3px;
  }
  // .flash-sales__number
  &__number {
    color: var(--text-2, #000);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    opacity: 0.5;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
