<script setup>
  import RedBlockTitle from '@/components/RedBlockTitle.vue'
  import Icon from '@/components/base/Icon.vue'
  import CategoriesSwiper from '@/components/categories/CategoriesSwiper.vue'
</script>

<template>
  <section class="categories">
    <div class="categories__container">
      <div class="categories__row">
        <red-block-title title="Categories" red-title />
        <div class="categories__title-arrows">
          <div class="categories__title">Browse By Category</div>
          <div class="categories__arrows">
            <div v-for="i in 2" :key="i" class="categories__arrow">
              <icon name="shopArrow" />
            </div>
          </div>
        </div>
        <div class="categories__swiper">
          <categories-swiper />
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/categories.scss';
</style>
