<script setup>
  import Icon from '@/components/base/Icon.vue'
  import { Swiper, SwiperSlide } from 'swiper/vue'
  import { Autoplay } from 'swiper/modules'
  import { categorySwiperItems, autoplay } from '@/helpers/constants'
  import 'swiper/css'
  import 'swiper/css/pagination'

  const modules = [Autoplay]
</script>
<template>
  <swiper
    :slidesPerView="4.5"
    :speed="2000"
    :spaceBetween="30"
    :autoplay="autoplay"
    :modules="modules"
    class="mySwiper categories__swiper"
  >
    <swiper-slide v-for="item in categorySwiperItems" :key="item.id" class="categories__slide">
      <div class="categories__card">
        <div class="categories__icon">
          <icon :name="item.icon" />
        </div>
        <div class="categories__title">{{ item.name }}</div>
      </div>
    </swiper-slide>
  </swiper>
</template>

<style lang="scss" scoped>
  @import './scss/categorySwiper';
</style>
