<script setup>
  import Icon from '@/components/base/Icon.vue'
  import { Swiper, SwiperSlide } from 'swiper/vue'
  import { Pagination, Autoplay } from 'swiper/modules'
  import 'swiper/css'
  import 'swiper/css/pagination'
  import { autoplay, pagination } from '@/helpers/constants'

  const modules = [Pagination, Autoplay]
</script>

<template>
  <swiper
    :pagination="pagination"
    :autoplay="autoplay"
    :speed="2300"
    :modules="modules"
    class="mySwiper main-banner__swiper"
  >
    <swiper-slide v-for="i in 5" :key="i" class="main-banner__swiper-slide">
      <div class="main-banner__swiper-row">
        <div class="main-banner__content">
          <div class="main-banner__apple">
            <icon name="apple" />
            <p>iPhone 14 Series</p>
          </div>
          <div class="main-banner__title">
            Up to 10% <br />
            off Voucher
          </div>
          <div class="main-banner__btn">
            <p>Shop Now</p>
            <icon name="shopArrow" />
          </div>
        </div>
        <div class="main-banner__image">
          <img src="./assets/img/iphone.png" alt="" />
        </div>
      </div>
    </swiper-slide>
  </swiper>
</template>

<style lang="scss" scoped>
  @import './assets/scss/mainBannerSwiper.scss';
</style>
