<script setup>
  import { sidebarItems } from '@/helpers/constants'
  import Icon from '@/components/base/Icon.vue'
  import MainBannerSwiper from './MainBannerSwiper.vue'
</script>

<template>
  <section class="main-banner">
    <div class="main-banner__container">
      <div class="main-banner__row">
        <div class="main-banner__sidebar">
          <div class="main-banner__sidebar">
            <div class="main-banner__sidebar__row">
              <nav class="main-banner__sidebar_menu menu">
                <ul class="menu__list">
                  <li v-for="item in sidebarItems" :key="item.id" class="menu__item">
                    <p>{{ item.name }}</p>
                    <div v-if="item.arrow" class="menu__icon">
                      <icon name="arrowBottom" />
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <main-banner-swiper />
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './assets/scss/mainBanner';
  @import './assets/scss/mainBannerSidebar';
</style>
