.menu {
  // .menu__list
  &__list {
  }
  // .menu__item
  &__item {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    cursor: pointer;
    &:not(:last-child) {
      padding-bottom: 16px;
    }
    p {
      color: var(--text-2, #000);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
  // .menu__icon
  &__icon {
    transform: rotate(270deg);
  }
}
