.main-banner {
  margin-bottom: 140px;
  // .main-banner__container
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 23%;
    width: 2px;
    height: 500px;
    background: #000;
    opacity: 0.2;
  }
  &__container {
    max-width: 1305px;
    padding: 0 10px;
    margin: 0 auto;
  }
  // .main-banner__row
  &__row {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
  }
  // .main-banner__sidebar
  &__sidebar {
  }
}
