.main-banner {
  // .main-banner__swiper
  &__swiper {
    margin-left: 70px;
  }
  // .main-banner__swiper-slide
  &__swiper-slide {
    padding: 60px;
    padding-right: 0;
  }
  // .main-banner__swiper-row
  &__swiper-row {
    display: flex;
    justify-content: space-between;
  }
  // .main-banner__content
  &__content {
  }
  // .main-banner__apple
  &__apple {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 20px;
    p {
      color: var(--text, #fafafa);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
  // .main-banner__title
  &__title {
    padding-bottom: 22px;
    color: var(--text, #fafafa);
    font-family: Inter;
    font-size: 65px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 1.92px;
  }
  // .main-banner__btn
  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      color: var(--text, #fafafa);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
    }
  }
  // .main-banner__image
  &__image {
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #000;
  color: #fff;
}

.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
