.services {
  padding-top: 140px;
  // .services__container
  &__container {
    max-width: 1305px;
    padding: 0 10px;
    margin: 0 auto;
  }
  // .services__row
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 88px;
  }
  // .services__service
  &__service {
    text-align: center;
  }
  // .services__icon
  &__icon {
    padding-bottom: 24px;
  }
  // .services__title
  &__title {
    padding-bottom: 8px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }
  // .services__desc
  &__desc {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}
