<script setup>
  import { Swiper, SwiperSlide } from 'swiper/vue'
  import { Pagination, Autoplay } from 'swiper/modules'
  import { pagination, autoplay } from '@/helpers/constants'
  import Icon from '../base/Icon.vue'
  import 'swiper/css'
  import 'swiper/css/pagination'

  const modules = [Pagination, Autoplay]
</script>

<template>
  <swiper
    :pagination="pagination"
    :slides-per-view="3"
    :space-between="30"
    :autoplay="autoplay"
    :speed="2300"
    :modules="modules"
    class="mySwiper about-swiper__swiper"
  >
    <swiper-slide v-for="i in 10" :key="i" class="about-swiper__swiper-slide">
      <div class="about-swiper__body">
        <div class="about-swiper__image-block">
          <div class="about-swiper__image">
            <img src="../../assets/img/tom-cruise.png" alt="" />
          </div>
        </div>
        <div class="about-swiper__title">Tom Cruise</div>
        <div class="about-swiper__mission">Founder & Chairman</div>
        <div class="about-swiper__icons">
          <div class="about-swiper__icon">
            <icon name="twitter" />
          </div>
          <div class="about-swiper__icon">
            <icon name="instagram" />
          </div>
          <div class="about-swiper__icon">
            <icon name="linkedIn" />
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper>
</template>

<style lang="scss" scoped>
  @import './scss/aboutSwiper.scss';
</style>
