<script setup>
  import Icon from '@/components/base/Icon.vue'
  import { aboutCounts } from '@/helpers/constants'
</script>

<template>
  <section class="about-services">
    <div class="about-services__container">
      <div class="about-services__row">
        <div v-for="item in aboutCounts" :key="item.id" class="about-services__card">
          <div class="icon">
            <div class="about-services__icon-red-blog">
              <div class="about-services__icon-blog">
                <div class="about-services__icon">
                  <icon :name="item.icon" />
                </div>
              </div>
            </div>
          </div>
          <div class="about-services__count">{{ item.count }}</div>
          <div class="about-services__title">{{ item.title }}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/aboutServices.scss';
</style>
