.footer {
  margin-top: 140px;
  background: #000;
  // .footer__container
  &__container {
    max-width: 1305px;
    padding: 0 10px;
    margin: 0 auto;
  }
  // .footer__row
  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 87px;
    padding: 62px;
  }
  // .footer__exclusive
  &__exclusive {
  }
  // .footer__support
  &__support {
  }
  // .footer__account
  &__account {
  }
  // .footer__links
  &__links {
  }
  // .footer__download-app
  &__download-app {
  }
}
.exclusive {
  // .exclusive__title
  color: var(--text, #fafafa);
  &__title {
    padding-bottom: 24px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.72px;
  }
  // .exclusive__sub-title
  &__sub-title {
    padding-bottom: 24px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
  }
  // .exclusive__desc
  &__desc {
    color: var(--text, #fafafa);
    font-family: Poppins;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 16px;
  }
  // .exclusive__input
  &__input {
    position: relative;
    input {
      padding: 12px 16px;
      background-color: transparent;
      border-radius: 4px;
      border: 1.5px solid var(--text, #fafafa);
      color: var(--text, #fafafa);
      font-family: Poppins;
      font-weight: 400;
      line-height: 150%;
    }
  }
  // .exclusive__icon
  &__icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
  }
}
.support {
  color: #fafafa;
  width: 175px;
  // .support__title
  &__title {
    padding-bottom: 24px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.72px;
  }
  // .support__location
  &__location {
    font-family: Poppins;
    font-weight: 400;
    line-height: 150%;
  }
  // .support__email
  &__email {
    padding: 16px 0;
    font-family: Poppins;
    font-weight: 400;
    line-height: 150%;
  }
  // .support__numbers
  &__numbers {
    font-family: Poppins;
    font-weight: 400;
    line-height: 150%;
  }
}
.account {
  color: var(--text, #fafafa);

  // .account__title
  &__title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: 24px;
  }
  // .account__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  // .account__item
  &__item {
    color: var(--text, #fafafa);
    font-family: Poppins;
    font-weight: 400;
    line-height: 150%;
  }
}
.links {
  color: var(--text, #fafafa);
  // .links__title
  &__title {
    padding-bottom: 24px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
  }
  // .links__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  // .links__item
  &__item {
    font-family: Poppins;
    font-weight: 400;
    line-height: 150%;
  }
}
.download-app {
  color: var(--text, #fafafa);
  width: 194px;
  // .download-app__title
  &__title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: 24px;
  }
  // .download-app__desc
  &__desc {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
    padding-bottom: 8px;
  }
  // .download-app__code-icons
  &__code-icons {
  }
  // .download-app__code
  &__code {
  }
  // .download-app__google-apple
  &__google-apple {
  }
  // .download-app__google
  &__google {
  }
  // .download-app__apple
  &__apple {
  }
  // .download-app__icons
  &__icons {
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  // .download-app__icon
  &__icon {
  }
}
