<template>
  <span class="flex" v-html="path"></span>
</template>

<script>
  import icons from '@/helpers/icons'
  export default {
    props: { name: { type: String, default: '' } },
    computed: {
      path() {
        return icons[this.name]
      }
    }
  }
</script>

<style>
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
