<script setup>
  import { menus } from '@/helpers/constants'
</script>

<template>
  <nav class="header__menu menu">
    <ul class="menu__list">
      <li v-for="menu in menus" :key="menu.id" class="menu__item">
        <router-link :to="menu.path" exact class="menu__link"> {{ menu.name }} </router-link>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss" scoped>
  @import './scss/header-menu';
</style>
