<script setup>
  import Icon from '@/components/base/Icon.vue'
</script>

<template>
  <section class="header-top">
    <div class="header-top__container">
      <div class="header-top__row">
        <div class="header-top__title">
          Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
          <span>ShopNow</span>
        </div>
        <div class="header-top__lang">
          <p>English</p>
          <icon name="arrowBottom" />
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/header-top';
</style>
