<script setup>
  import Icon from '@/components/base/Icon.vue'
</script>

<template>
  <div class="header__search search-header">
    <div class="search-header__row">
      <div class="search-header__input">
        <input type="text" placeholder="What are you looking for?" />
      </div>
      <div class="search-header__icon">
        <icon name="search" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import './scss/header-search';
</style>
