<script setup>
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import Icon from '@/components/base/Icon.vue'
  import TheHeaderTop from '@/components/header/TheHeaderTop.vue'
  import TheHeaderMenu from '@/components/header/TheHeaderMenu.vue'
  import TheHeaderSearch from '@/components/header/TheHeaderSearch.vue'
  import { icons, usersDropdownItems } from '@/helpers/constants'

  const isActive = ref(false)
  const router = useRouter()

  const toggle = (index) => {
    index === 0
      ? router.push('/wish-list')
      : index === 2
      ? (isActive.value = !isActive.value)
      : index === 1
      ? router.push('/card')
      : (isActive.value = false)
  }

  const pushedMyAccount = (id) => {
    if (id === 0) router.push('/my-account')
  }
</script>

<template>
  <header class="header">
    <div class="header__header-top">
      <the-header-top />
    </div>
    <div class="header__container">
      <div class="header__row">
        <div @click="router.push('/')" class="header__logo">
          <icon name="logo" />
        </div>
        <the-header-menu />
        <div class="header__search-icons">
          <the-header-search />
          <div class="header__icons">
            <div v-for="icon in icons" :key="icon.id" @click="toggle(icon.id)" id="icon" class="header__icon">
              <icon :name="icon.name" />
              <div v-if="icon.isActive && isActive" class="header__user-dropdown user">
                <div class="user__body">
                  <div
                    v-for="item in usersDropdownItems"
                    :key="item.id"
                    @click="pushedMyAccount(item.id)"
                    class="user__row"
                  >
                    <div class="user__icon">
                      <icon :name="item.icon" />
                    </div>
                    <div class="user__title">{{ item.name }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss" scoped>
  @import './scss/header';
</style>
