<script setup>
  import RedBlockTitle from '@/components/RedBlockTitle.vue'
</script>

<template>
  <section class="arrival-features">
    <div class="arrival-features__container">
      <red-block-title title="Featured" red-title />
      <div class="arrival-features__title">New Arrival</div>
      <div class="arrival-features__row">
        <div v-for="i in 4" :key="i" class="arrival-features__blog">
          <div class="arrival-features__blog-image">
            <img src="@/assets/img/playstation.png" alt="" />
          </div>
          <div class="arrival-features__content">
            <div class="arrival-features__blog-title">PlayStation 5</div>
            <div class="arrival-features__blog-desc">
              Black and White version of the PS5 <br />
              coming out on sale.
            </div>
            <div class="arrival-features__link">Shop Now</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/arrivalFeatures.scss';
</style>
