.categories {
  padding-top: 90px;
  // .categories__container
  &__container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -80px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #000;
      opacity: 0.2;
    }
  }
  // .categories__row
  &__row {
  }
  // .categories__title-arrows
  &__title-arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  // .categories__title
  &__title {
    color: var(--text-2, #000);
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 133.333%;
    letter-spacing: 1.44px;
  }
  // .categories__arrows
  &__arrows {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  // .categories__arrow
  &__arrow {
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #f5f5f5;
    &:first-child {
      transform: rotate(180deg);
    }
  }
  // .categories__swiper
  &__swiper {
  }
}
