.categories {
  // .categories__slide
  &__slide {
  }
  // .categories__card
  &__card {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s all ease;
    &:hover {
      border-radius: 4px;
      background: var(--secondary-2, #db4444);
      box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
      .categories__title,
      .categories__icon {
        color: #fff;
      }
    }
  }
  // .categories__icon
  &__icon {
  }
  // .categories__title
  &__title {
    padding-top: 16px;
    color: var(--text-2, #000);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}
