<script setup>
  import Icon from '@/components/base/Icon.vue'
  import { footerIcons } from '@/helpers/constants'
</script>

<template>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__row">
        <div class="footer__exclusive exclusive">
          <div class="exclusive__title">Exclusive</div>
          <div class="exclusive__sub-title">Subscribe</div>
          <div class="exclusive__desc">Get 10% off your first order</div>
          <div class="exclusive__input">
            <input type="text" placeholder="Enter your email" />
            <div class="exclusive__icon">
              <icon name="send" />
            </div>
          </div>
        </div>
        <div class="footer__support support">
          <div class="support__title">Support</div>
          <div class="support__location">
            111 Bijoy sarani, Dhaka, <br />
            DH 1515, Bangladesh.
          </div>
          <div class="support__email">exclusive@gmail.com</div>
          <div class="support__numbers">+88015-88888-9999</div>
        </div>
        <div class="footer__account account">
          <div class="account__title">Account</div>
          <ul class="account__list">
            <li class="account__item">My Account</li>
            <li class="account__item">Login / Register</li>
            <li class="account__item">Cart</li>
            <li class="account__item">Wishlist</li>
            <li class="account__item">Shop</li>
          </ul>
        </div>
        <div class="footer__links links">
          <div class="links__title">Quick Link</div>
          <ul class="links__list">
            <li class="links__item">Privacy Policy</li>
            <li class="links__item">Terms Of Use</li>
            <li class="links__item">FAQ</li>
            <li class="links__item">Contact</li>
          </ul>
        </div>
        <div class="footer__download-app download-app">
          <div class="download-app__title">Download App</div>
          <div class="download-app__desc">Save $3 with App New User Only</div>
          <div class="download-app__code-icons">
            <div class="download-app__code"></div>
            <div class="download-app__google-apple">
              <div class="download-app__google"></div>
              <div class="download-app__apple"></div>
            </div>
            <div class="download-app__icons">
              <div v-for="item in footerIcons" :key="item" class="download-app__icon">
                <icon :name="item" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
  @import './scss/footer';
</style>
