<script setup>
  import { musicTImes } from '@/helpers/constants'
</script>

<template>
  <section class="music">
    <div class="music__container">
      <div class="music__row">
        <div class="music__content">
          <div class="music__sub-title">Categories</div>
          <div class="music__title">
            Enhance Your <br />
            Music Experience
          </div>
          <div class="music__times">
            <div v-for="item in musicTImes" :key="item.count" class="music__time">
              <p>{{ item.count }}</p>
              <span>{{ item.title }}</span>
            </div>
          </div>
          <div class="music__btn">
            <button>Buy Now!</button>
          </div>
        </div>
        <div class="music__image">
          <img src="@/assets/img/music.png" alt="" />
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import './scss/categoryMusic.scss';
</style>
