.selling-products {
  // .selling-products__container
  &__container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 10px;
  }
  // .selling-products__title-btn
  &__title-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  // .selling-products__title
  &__title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 133.333%;
    letter-spacing: 1.44px;
  }
  // .selling-products__row
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  // .selling-products__card
  &__card {
  }
  // .selling-products__image-block
  &__image-block {
    border-radius: 4px;
    background: var(--secondary, #f5f5f5);
    position: relative;
    padding: 12px;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      .selling-products__icons {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  // .selling-products__icons
  &__icons {
    position: absolute;
    top: 15px;
    right: 10px;
    transform: translateY(-90px);
    opacity: 0;
    transition: 0.4s all ease-out;
  }
  // .selling-products__icon
  &__icon {
    background-color: #fff;
    border-radius: 50%;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
  // .selling-products__image
  &__image {
    padding-top: 50px;
    text-align: center;
    aspect-ratio: 1/1;
  }
  // .selling-products__content
  &__content {
    padding-top: 16px;
  }
  // .selling-products__content-title
  &__content-title {
    font-family: Poppins;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 8px;
  }
  // .selling-products__content-counts
  &__content-counts {
    display: flex;
    align-items: center;
    gap: 12px;
    p {
      color: var(--secondary-2, #db4444);
      font-family: Poppins;
      font-weight: 500;
      line-height: 150%;
    }
    span {
      font-family: Poppins;
      font-weight: 500;
      line-height: 150%;
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
  // .selling-products__content-stars-length
  &__content-stars-length {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  // .selling-products__stars
  &__stars {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  // .selling-products__star
  &__star {
  }
  // .selling-products__length
  &__length {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    opacity: 0.5;
  }
}
