.about-swiper {
  // .about-swiper__swiper
  &__swiper {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 10px;
  }
  // .about-swiper__swiper-slide
  &__swiper-slide {
  }
  // .about-swiper__body
  &__body {
  }
  // .about-swiper__image-block
  &__image-block {
    padding: 40px 67px;
    border-radius: 4px;
    background: var(--secondary, #f5f5f5);
  }
  // .about-swiper__image
  &__image {
    img {
      width: 236px;
      height: 391px;
    }
  }
  // .about-swiper__title
  &__title {
    padding-top: 32px;
    padding-bottom: 8px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.28px;
  }
  // .about-swiper__mission
  &__mission {
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
  }
  // .about-swiper__icons
  &__icons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  // .about-swiper__icon
  &__icon {
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
