<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<script>
  import DefaultLayout from '@/layouts/DefaultLayout.vue'
  export default {
    name: 'App',
    components: { DefaultLayout },
    computed: {
      layout() {
        return this.$route.meta?.layout || 'default-layout'
      }
    },
    watch: {
      $route() {
        document.body.scrollTop = document.documentElement.scrollTop = 0
      }
    }
  }
</script>

<style lang="scss">
  @import '@/assets/scss/null.scss';
  @import '@/assets/scss/fonts.scss';
</style>
