.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background-color: #000;
  }
  // .header__header-top
  &__header-top {
  }
  // .header__container
  &__container {
    margin: 0 auto;
    max-width: 1305px;
    padding: 0 10px;
  }
  // .header__row
  &__row {
    padding-top: 47px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }
  // .header__logo
  &__logo {
    cursor: pointer;
  }
  // .header__search-icons
  &__search-icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  // .header__icons
  &__icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  // .header__icon
  &__icon {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s all ease-out;
    position: relative;
    &:hover {
      color: #fff;
      background-color: #db4444;
    }
  }
  // .header__user-dropdown
  &__user-dropdown {
  }
}

.user {
  position: absolute;
  top: 45px;
  left: -210px;
  width: 244px;
  z-index: 99;
  // .user__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 20px 15px 10px 18px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(75px);
    color: #fff;
  }
  // .user__row
  &__row {
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 16px;
    transition: 0.3s all ease;
    &:hover {
      background: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      width: 100%;
    }
  }
  // .user__icon
  &__icon {
    padding: 5px;
    &:nth-child(2) {
      padding-left: 10px;
    }
  }
  // .user__title
  &__title {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}
